<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
        <form action = "/createStudent" method = "post" enctype="multipart/form-data" class="form-horizontal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="well well-sm">

                                <fieldset>
                                    <legend class="text-center">Student Personal Information</legend>

                                    <!-- Name input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="firstName">First Name</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "firstName" id ="firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="middleName">Middle Name</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "middleName" id ="middleName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="lastName">Last Name</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "lastName" id ="lastName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profilePicture">Your Profile Pic</label>
                                        <div class="col-md-9">
                                            <input type = "file" name = "profilePicture" id = "profilePicture" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="dateOfBirth">Your Date of birth</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "dateOfBirth" id = "dateOfBirth" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="birthCertificate">Your Birth Certificate</label>
                                        <div class="col-md-9">
                                            <input type = "file" name = "birthCertificate" id = "birthCertificate" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="address">Address</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="address" name="address" placeholder="Please enter your message here..." rows="5"></textarea>
                                        </div>
                                    </div>
                                    <!-- Contact 1 input-->
                                                <legend class="text-center" >Contact 1 Information </legend>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="contact1FirstName">Contact First Name</label>
                                                            <div class="col-md-9">
                                                                <input type = "text" name = "contact1FirstName" id = "contact1FirstName" class="form-control">
                                                             </div>
                                                    </div>
                                        <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1LastName">Contact Last Name</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "contact1LastName" id = "contact1LastName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1Relationship">Relationship to Student</label>
                                        <div class="col-md-9">
                                            <select name="contact1Relationship" id = "contact1Relationship" class = "form-control">
                                                <option value="Mother">Mother</option>
                                                <option value="Father">Father</option>
                                                <option value="Guardian">Guardian</option>
                                                <option value="Emergency">Emergency</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1Status">Marital Status</label>
                                        <div class="col-md-9">
                                            <select name="contact1Status" id = "contact1Status" class = "form-control">
                                                <option value="Married">Married</option>
                                                <option value="Separated">Separated</option>
                                                <option value="Divorced">Divorced</option>
                                                <option value="Single/Other">Single/Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1HomeNumber" >Home number</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "contact1HomeNumber" id = "contact1HomeNumber" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1MobileNumber" >Mobile number</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "contact1MobileNumber" id = "contact1MobileNumber" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1Occupation" >Occupation</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "contact1Occupation" id = "contact1Occupation" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1Company" >Company</label>
                                        <div class="col-md-9">
                                            <input type = "text" name = "contact1Company" id = "contact1Company" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="contact1Comment">Comments</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="contact1Comment" name="contact1Comment" placeholder="Please enter your message here..." rows="5"></textarea>
                                        </div>
                                    </div>

                <!-- Contact 2 input-->
                            <legend class="text-center" >Contact 2 Information </legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2FirstName">Contact First Name</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2FirstName" id = "contact2FirstName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2LastName">Contact Last Name</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2LastName" id = "contact2LastName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2Relationship">Relationship to Student</label>
                                <div class="col-md-9">
                                    <select name="contact2Relationship" id = "contact2Relationship" class = "form-control">
                                        <option value="Mother">Mother</option>
                                        <option value="Father">Father</option>
                                        <option value="Guardian">Guardian</option>
                                        <option value="Emergency">Emergency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2Status">Marital Status</label>
                                <div class="col-md-9">
                                    <select name="contact2Status" id = "contact2Status" class = "form-control">
                                        <option value="Married">Married</option>
                                        <option value="Separated">Separated</option>
                                        <option value="Divorced">Divorced</option>
                                        <option value="Single/Other">Single/Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2HomeNumber" >Home number</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2HomeNumber" id = "contact2HomeNumber" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2MobileNumber" >Mobile number</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2MobileNumber" id = "contact2MobileNumber" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2Occupation" >Occupation</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2Occupation" id = "contact2Occupation" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2Company" >Company</label>
                                <div class="col-md-9">
                                    <input type = "text" name = "contact2Company" id = "contact2Company" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="contact2Comment">Comments</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="contact2Comment" name="contact2Comment" placeholder="Please enter your message here..." rows="5"></textarea>
                                </div>
                            </div>

                <!-- Emergency Contact input-->
            <legend class="text-center" >Emergency Contact Information </legend>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3FirstName">Contact First Name</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3FirstName" id = "contact3FirstName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3LastName">Contact Last Name</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3LastName" id = "contact3LastName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3Relationship">Relationship to Student</label>
                <div class="col-md-9">
                    <select name="contact3Relationship" id = "contact3Relationship" class = "form-control">
                        <option value="Mother">Mother</option>
                        <option value="Father">Father</option>
                        <option value="Guardian">Guardian</option>
                        <option value="Emergency">Emergency</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3Status">Marital Status</label>
                <div class="col-md-9">
                    <select name="contact3Status" id = "contact3Status" class = "form-control">
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Single/Other">Single/Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3HomeNumber" >Home number</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3HomeNumber" id = "contact3HomeNumber" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3MobileNumber" >Mobile number</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3MobileNumber" id = "contact3MobileNumber" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3Occupation" >Occupation</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3Occupation" id = "contact3Occupation" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3Company" >Company</label>
                <div class="col-md-9">
                    <input type = "text" name = "contact3Company" id = "contact3Company" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="contact3Comment">Comments</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="contact3Comment" name="contact3Comment" placeholder="Please enter your message here..." rows="5"></textarea>
                </div>
            </div>

                                    <div class="form-group">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </form>
</body>
</html>